@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.NavbarMenu {
  flex-direction: column; /* Change flex direction to column for vertical alignment */
  align-items: center; /* Center the navigation items horizontally */
  justify-content: center; /* Center the navigation items vertically */
}

.NavbarItem {
  font-size: 24px; 
  margin-bottom: 16px; 
}



  .bg-c86d10 {
    background-color: #c86d10;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .bg-c86d10 img {
    max-width: 100%;
    height: auto;
  }

